html, body {
    height: 100%;
    width: 100%;
}
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: table;
}
::selection {
    background: transparent;
}
body .content {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.image {
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
img {
    height: 500px;
    width: auto;
    transition: transform 2s ease;
    transform: rotateZ(0deg);
}
button[type] {
    position: fixed;
    bottom: 5px;
    left: 5px;
    
    background: transparent;
    border: 1px solid #333;
    border-radius: 1px;
}
@media (max-width: 425px) {
    img {
        height: 400px;
    }
    .image {
        width: 100%;
    }
}